.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/

/tmp/*
!/log/.keep
!/tmp/.keep

config/database.yml
config/application.yml
config/newrelic.yml
config/secrets.yml

/node_modules
/yarn-error.log

.byebug_history
*.rbc
*.sassc
*.lessc
*.swp
.sass-cache
.less-cache
capybara-*.html
.rspec
.bundle
vendor/bundle
log/*
tmp/*
db/*.sqlite3
public/system/*
public/rf_images/*
public/sitemaps/*
public/uploads*
public/icomoon*
private/nestoria*
private/mitula*
public/mitula*
public/broker_map/*
coverage/
spec/tmp/*
**.orig
rerun.txt

*~
~
*._.DS_Store
*.DS_Store
public/assets/*
node_modules/*
npm-debug.log
*._app
*.idea/
doc/
